USE [master]
GO
/****** Object:  Database [HospitalDB]    Script Date: 5/12/2025 10:46:28 ******/
CREATE DATABASE [HospitalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HospitalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HospitalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HospitalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalDB]
GO
/****** Object:  Table [dbo].[Administradores]    Script Date: 5/12/2025 10:46:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administradores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[primerApellido] [nvarchar](50) NOT NULL,
	[segundoApellido] [nvarchar](50) NOT NULL,
	[dni] [int] NOT NULL,
	[contraseña] [nvarchar](50) NOT NULL,
	[direccion] [nvarchar](100) NULL,
	[telefono] [nvarchar](20) NULL,
	[email] [nvarchar](50) NULL,
	[fechaNacimiento] [date] NULL,
	[genero] [nvarchar](10) NULL,
	[rol] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alergias]    Script Date: 5/12/2025 10:46:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alergias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dniPaciente] [int] NULL,
	[alergia] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cocineros]    Script Date: 5/12/2025 10:46:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cocineros](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](20) NOT NULL,
	[primerApellido] [nvarchar](50) NOT NULL,
	[segundoApellido] [nvarchar](50) NOT NULL,
	[dni] [int] NOT NULL,
	[contraseña] [nvarchar](50) NOT NULL,
	[direccion] [nvarchar](50) NULL,
	[telefono] [nvarchar](20) NULL,
	[email] [nvarchar](50) NULL,
	[fechaNacimiento] [date] NULL,
	[genero] [nvarchar](10) NULL,
	[turno] [nvarchar](50) NULL,
	[especialidad] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 5/12/2025 10:46:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreDepartamento] [nvarchar](100) NOT NULL,
	[ubicacion] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnostico]    Script Date: 5/12/2025 10:46:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnostico](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](500) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[doctor] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctores]    Script Date: 5/12/2025 10:46:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](20) NOT NULL,
	[primerApellido] [nvarchar](50) NOT NULL,
	[segundoApellido] [nvarchar](50) NOT NULL,
	[dni] [int] NOT NULL,
	[contraseña] [nvarchar](50) NOT NULL,
	[direccion] [nvarchar](50) NULL,
	[telefono] [nvarchar](20) NULL,
	[email] [nvarchar](50) NULL,
	[fechaNacimiento] [date] NULL,
	[genero] [nvarchar](10) NULL,
	[especialidad] [nvarchar](50) NULL,
	[numeroLicencia] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enfermeras]    Script Date: 5/12/2025 10:46:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enfermeras](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](20) NOT NULL,
	[primerApellido] [nvarchar](50) NOT NULL,
	[segundoApellido] [nvarchar](50) NOT NULL,
	[dni] [int] NOT NULL,
	[contraseña] [nvarchar](50) NOT NULL,
	[direccion] [nvarchar](50) NULL,
	[telefono] [nvarchar](20) NULL,
	[email] [nvarchar](50) NULL,
	[fechaNacimiento] [date] NULL,
	[genero] [nvarchar](10) NULL,
	[turno] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuardiasSeguridad]    Script Date: 5/12/2025 10:46:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuardiasSeguridad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](20) NOT NULL,
	[primerApellido] [nvarchar](50) NOT NULL,
	[segundoApellido] [nvarchar](50) NOT NULL,
	[dni] [int] NOT NULL,
	[contraseña] [nvarchar](50) NOT NULL,
	[direccion] [nvarchar](50) NULL,
	[telefono] [nvarchar](20) NULL,
	[email] [nvarchar](50) NULL,
	[fechaNacimiento] [date] NULL,
	[genero] [nvarchar](10) NULL,
	[areaAsignada] [nvarchar](50) NULL,
	[armado] [bit] NULL,
	[turno] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 5/12/2025 10:46:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[primerApellido] [nvarchar](50) NOT NULL,
	[segundoApellido] [nvarchar](50) NOT NULL,
	[dni] [int] NOT NULL,
	[contraseña] [nvarchar](50) NOT NULL,
	[direccion] [nvarchar](50) NULL,
	[telefono] [nvarchar](20) NULL,
	[email] [nvarchar](50) NULL,
	[fechaNacimiento] [date] NULL,
	[genero] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalLimpieza]    Script Date: 5/12/2025 10:46:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalLimpieza](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](20) NOT NULL,
	[primerApellido] [nvarchar](50) NOT NULL,
	[segundoApellido] [nvarchar](50) NOT NULL,
	[dni] [int] NOT NULL,
	[contraseña] [nvarchar](50) NOT NULL,
	[direccion] [nvarchar](50) NULL,
	[telefono] [nvarchar](20) NULL,
	[email] [nvarchar](50) NULL,
	[fechaNacimiento] [date] NULL,
	[genero] [nvarchar](10) NULL,
	[areaAsignada] [nvarchar](50) NULL,
	[turno] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administradores] ON 

INSERT [dbo].[Administradores] ([id], [nombre], [primerApellido], [segundoApellido], [dni], [contraseña], [direccion], [telefono], [email], [fechaNacimiento], [genero], [rol]) VALUES (1, N'Paolo Josue', N'Coaquira', N'Anccori', 75554491, N'pao20505', N'', N'987654321', N'admin@hospital.pe', CAST(N'1980-05-15' AS Date), N'M', N'Administrador General')
INSERT [dbo].[Administradores] ([id], [nombre], [primerApellido], [segundoApellido], [dni], [contraseña], [direccion], [telefono], [email], [fechaNacimiento], [genero], [rol]) VALUES (2, N'Jhork Antony', N'Espinoza', N'Quintana', 76724541, N'kanox123', N'', N'901699054', N'admin@hospital.pe', CAST(N'1980-05-15' AS Date), N'M', N'Administrador General')
SET IDENTITY_INSERT [dbo].[Administradores] OFF
GO
SET IDENTITY_INSERT [dbo].[Alergias] ON 

INSERT [dbo].[Alergias] ([id], [dniPaciente], [alergia]) VALUES (1, 12345678, N'Polen')
INSERT [dbo].[Alergias] ([id], [dniPaciente], [alergia]) VALUES (2, 12345678, N'Penicilina')
INSERT [dbo].[Alergias] ([id], [dniPaciente], [alergia]) VALUES (3, 44556677, N'Maní')
SET IDENTITY_INSERT [dbo].[Alergias] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctores] ON 

INSERT [dbo].[Doctores] ([id], [nombre], [primerApellido], [segundoApellido], [dni], [contraseña], [direccion], [telefono], [email], [fechaNacimiento], [genero], [especialidad], [numeroLicencia]) VALUES (1, N'María', N'García', N'Sánchez', 87654321, N'doc123', N'', N'987123456', N'mgarcia@hospital.pe', CAST(N'1985-08-20' AS Date), N'F', N'Cardiología', N'LIC-12345')
INSERT [dbo].[Doctores] ([id], [nombre], [primerApellido], [segundoApellido], [dni], [contraseña], [direccion], [telefono], [email], [fechaNacimiento], [genero], [especialidad], [numeroLicencia]) VALUES (2, N'Paolo', N'Coaquira', N'Anccori', 75554491, N'pao20505', N'', N'987123456', N'coaquiraan@hospital.pe', CAST(N'1985-08-20' AS Date), N'F', N'Cardiología', N'LIC-12345')
INSERT [dbo].[Doctores] ([id], [nombre], [primerApellido], [segundoApellido], [dni], [contraseña], [direccion], [telefono], [email], [fechaNacimiento], [genero], [especialidad], [numeroLicencia]) VALUES (3, N'Daniel', N'Quispe', N'Sulla', 86998862, N'daniel123', N'', N'786495236', N'danielquispesulla@gmail.com', CAST(N'2025-12-05' AS Date), N'M', N'cardiolog�a', N'LIC-45685')
SET IDENTITY_INSERT [dbo].[Doctores] OFF
GO
SET IDENTITY_INSERT [dbo].[Enfermeras] ON 

INSERT [dbo].[Enfermeras] ([id], [nombre], [primerApellido], [segundoApellido], [dni], [contraseña], [direccion], [telefono], [email], [fechaNacimiento], [genero], [turno]) VALUES (1, N'Ana', N'Torres', N'Ruiz', 45678912, N'enf123', N'', N'987789456', N'atorres@hospital.pe', CAST(N'1990-03-10' AS Date), N'F', N'Mañana')
INSERT [dbo].[Enfermeras] ([id], [nombre], [primerApellido], [segundoApellido], [dni], [contraseña], [direccion], [telefono], [email], [fechaNacimiento], [genero], [turno]) VALUES (2, N'Paolo', N'Coaquira', N'Anccori', 75554491, N'pao20505', N'Psj San Martin', N'9377319442', N'atorres@hospital.pe', CAST(N'1990-03-10' AS Date), N'M', N'Mañana')
SET IDENTITY_INSERT [dbo].[Enfermeras] OFF
GO
SET IDENTITY_INSERT [dbo].[Pacientes] ON 

INSERT [dbo].[Pacientes] ([id], [nombre], [primerApellido], [segundoApellido], [dni], [contraseña], [direccion], [telefono], [email], [fechaNacimiento], [genero]) VALUES (1, N'Carlos', N'Gómez', N'Rivas', 12345678, N'pass123', N'Av. Siempre Viva 123', N'987654321', N'carlos@gmail.com', CAST(N'1990-05-12' AS Date), N'Masculino')
INSERT [dbo].[Pacientes] ([id], [nombre], [primerApellido], [segundoApellido], [dni], [contraseña], [direccion], [telefono], [email], [fechaNacimiento], [genero]) VALUES (2, N'Paolo', N'Coaquira', N'Anccori', 75554491, N'pao20505', N'Psj. San Martin', N'937319442', N'paocoaquira@gmail.com', CAST(N'1985-10-30' AS Date), N'Masculino')
INSERT [dbo].[Pacientes] ([id], [nombre], [primerApellido], [segundoApellido], [dni], [contraseña], [direccion], [telefono], [email], [fechaNacimiento], [genero]) VALUES (3, N'José', N'Pérez', N'Mamani', 44556677, N'jperez11', N'Jr. Las Flores 234', N'956789123', N'josep@hotmail.com', CAST(N'2000-03-22' AS Date), N'Masculino')
SET IDENTITY_INSERT [dbo].[Pacientes] OFF
GO
/****** Object:  Index [UQ__Administ__D87608A7ABC1B95D]    Script Date: 5/12/2025 10:46:28 ******/
ALTER TABLE [dbo].[Administradores] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Cocinero__D87608A7DD14C8C8]    Script Date: 5/12/2025 10:46:28 ******/
ALTER TABLE [dbo].[Cocineros] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departam__3479E0876D999674]    Script Date: 5/12/2025 10:46:28 ******/
ALTER TABLE [dbo].[Departamentos] ADD UNIQUE NONCLUSTERED 
(
	[ubicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departam__97ABAFF5D75EE7E1]    Script Date: 5/12/2025 10:46:28 ******/
ALTER TABLE [dbo].[Departamentos] ADD UNIQUE NONCLUSTERED 
(
	[nombreDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Doctores__D87608A7336BBCDC]    Script Date: 5/12/2025 10:46:28 ******/
ALTER TABLE [dbo].[Doctores] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Enfermer__D87608A76B39EC84]    Script Date: 5/12/2025 10:46:28 ******/
ALTER TABLE [dbo].[Enfermeras] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Guardias__D87608A70E2CF625]    Script Date: 5/12/2025 10:46:28 ******/
ALTER TABLE [dbo].[GuardiasSeguridad] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Paciente__D87608A73500DD65]    Script Date: 5/12/2025 10:46:28 ******/
ALTER TABLE [dbo].[Pacientes] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Personal__D87608A74C438B31]    Script Date: 5/12/2025 10:46:28 ******/
ALTER TABLE [dbo].[PersonalLimpieza] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alergias]  WITH CHECK ADD FOREIGN KEY([dniPaciente])
REFERENCES [dbo].[Pacientes] ([dni])
GO
USE [master]
GO
